body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  box-sizing: border-box;
}

section {
  display: grid;
  place-items: center;
}

.gameboard-container {
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.coords-letters-container {
  grid-column: 1;
  grid-row: 2 / span 18;
  display: grid;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.coords-numbers-container {
  grid-column: 2 / span 18;
  grid-row: 20;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.coord {
  margin: auto;
}

.board-size-container {
  grid-column: 2 / span 18;
  grid-row: 1;
  display: flex;
}

.gameboard {
  grid-column: 2 / span 18;
  grid-row: 2 / span 18;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 1fr;
  height: 700px;
  width: 700px;
}

.tile {
  display: grid;
  place-items: center;
  font-size: 4rem;
}

.tile-white {
  background-color: rgb(213, 213, 213);
}

.tile-black {
  background-color: rgb(111, 111, 111);
  color: white;
}

.step-count {
  min-height: 2rem;
}

.tile-selected {
  /* background-color: red; */

  font-weight: bold;
  font-size: 0rem;
  color: rgb(0, 0, 0);
}

.figures-container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 80vw;
  max-width: 700px;
}

.figure-container {
  display: grid;
  place-items: center;
  margin: 10px auto;
}

.figure {
  min-width: 80px;
  min-height: 80px;
}

.figure-king {
  background-image: url(./images/icons8-king-96.png);
  background-position: center;
  background-size: cover;
}

.figure-knight {
  background-image: url(./images/icons8-knight-96.png);
  background-position: center;
  background-size: cover;
}

.figure-pawn {
  background-image: url(./images/icons8-pawn-96.png);
  background-position: center;
  background-size: cover;
}

.figure-queen {
  background-image: url(./images/icons8-queen-96.png);
  background-position: center;
  background-size: cover;
}

.figure-rook {
  background-image: url(./images/icons8-rook-96.png);
  background-position: center;
  background-size: cover;
}

.figure-bishop {
  background-image: url(./images/icons8-bishop-96.png);
  background-position: center;
  background-size: cover;
}

.figure-selected {
  /* border: solid 3px red; */
  box-shadow: 1px 1px 5px;
}

.modal {
  position: fixed;
  height: 30vh;
  width: 100%;
  top: 20vh;
  background-color: white;
  opacity: 90%;
  color: red;
  font-size: 3rem;
  display: none;
  place-items: center;
}

input {
  width: 6vw;
}

button {
  margin-left: 10px;
  background-color: white;
  border-radius: 0px;
}

